/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@-webkit-keyframes gradient-anim {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
@-moz-keyframes gradient-anim {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
@keyframes gradient-anim {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
* {
  user-select: none;
}
body {
  /* position: relative; */
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  /* backdrop-filter: blur(50px) brightness(0.5); */
  /* backdrop-filter: brightness(0.5); */
  background: linear-gradient(321deg, #c9ae22, #a74268, #511c69);
  /* background-image: url('file:///E:/istir/Drive/Media/reddit/qt/other/__original_drawn_by_sunako_veera__fb8979e47cdaab863ac74dd0755fd470.png'); */
  background-size: 600% 600%;

  -webkit-animation: gradient-anim 23s ease infinite;
  -moz-animation: gradient-anim 23s ease infinite;
  animation: gradient-anim 23s ease infinite;
  font-family: 'Google Sans', sans-serif;
  /* overflow-y: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0px;
  background-attachment: fixed;
}

.fileName {
  font-weight: 500;
  margin-bottom: 10px;
}
.folderName {
  opacity: 0.8;
  font-size: 0.8em;
}
.tagName {
  opacity: 0.9;
  font-weight: 500;
  font-size: 0.8em;
}
/* .tagName .tableDiv {
  display: table;
  max-width: calc(100% - 180px);
} */
.tableCell {
  /* display: block; */
  padding-right: 5px;
}
.selectedRow {
  background: rgba(24, 39, 75, 0.3) !important;
}
tbody {
  box-shadow: 0px 0px 9px 4px #00000063;
  border-radius: 5px;
}
.globalTable {
  border-collapse: separate;
  backdrop-filter: blur(50px);
  margin: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: rgba(24, 39, 75, 0.12);
  /* background: rgba(24, 39, 75, 0.12); */
  border-spacing: 0px;
  /* box-shadow: 0px 0px 7px #000; */
  /* padding-bottom: 10px; */
  width: calc(100% - 20px);
  margin-top: 40px;
}
/* td:nth-of-type(1) {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
}
td:nth-of-type(2) {
  border-color: #000;
  border-width: 1px;
  border-style: solid solid solid none;
  padding: 10px;
  vertical-align: top;
} */

.tableRow {
  /* backdrop-filter: blur(50px); */
  /* background: rgba(24, 39, 75, 0.12); */
}
tr > td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}
tr > td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
}
/* .mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; 
} */
/* ::-webkit-scrollbar-thumb {

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;

}

::-webkit-scrollbar {
  width: 5px;
} */
.tableCell > * {
  overflow-wrap: anywhere;
}
.tableImg {
  max-height: 200px;
  max-width: 200px;
  /* width: 200px; */
  /* height: 200px; */
  /* object-fit: cover; */
  display: flex;
  margin: auto;
  padding: 5px;
  /* position: absolute; */
}
.tableImgBg {
  float: left;
  height: 200px;
  width: 200px;
  object-fit: cover;
  filter: blur(50px);
}
.listItems {
  top: 0px;
  right: 10px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  display: block;
  background: rgba(24, 39, 75, 0.12);
  box-shadow: 0px 0px 9px 4px #00000063;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.listItems > * {
  display: flex;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

.toReturnSetting {
}
.settingTag {
  margin-bottom: 20px;
}
.settingTag > div {
  margin-top: 30px;
}
.tagDelete {
  margin-right: 15px;
  display: block;
  width: fit-content;
  min-width: 30px;
  overflow: hidden;
  float: right;
}
.tagDelete > div {
  margin-top: 30px;
}

.popupPanel {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
}

.tagToAddModal {
  min-width: 30vw;
  min-height: 30vh;
  margin: auto;
  /* position: fixed; */
  /* float: left; */
  transform: translate(-50%, -50%);
  margin-top: 50vh;
  margin-left: 50vw;
  display: grid;
}
/* .tagDelete > svg {
  display: flex;
  position: absolute;
}
.tagDelete > span {
  transform: translateX(-100%);
  position: relative;
  transition: 1s;
}
.tagDelete:hover > span {
  visibility: visible;
  transform: translateX(0px);
}
.tagDelete:hover > * {
  padding: 0px 5px;
} */
/**NODE TEST*/

.tagToAddModalContent-enter {
  opacity: 0;
}
.tagToAddModalContent-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tagToAddModalContent-exit {
  opacity: 1;
}
.tagToAddModalContent-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.settingPane-enter {
  opacity: 0;
}
.settingPane-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.settingPane-exit {
  opacity: 1;
}
.settingPane-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  outline: none;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
/* .popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
} */
.popup-content {
  margin: auto;
  background: #ff9393;
  min-width: 40vw;
  min-height: 40vh;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.tagObj {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

input {
  outline: none;
}
.settingTagInput {
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 20vw;
}
.settingTagCheckbox {
  background: #000;
}
.saveButton {
  width: fit-content;
  padding: 0px 10px 0px 10px;
}
.settingsIcon {
  right: 0;
  position: fixed;
  bottom: 0;

  border-radius: 30px;
}
.closeAddModal {
  right: 50px;
  position: absolute;
  top: 50px;
}
.closeButtonPane {
  right: 0;
  top: 0;
  position: absolute;
  background: transparent;
  color: #fff;
  z-index: 11;
  border: 2px solid #fff;
}
.settingsBG {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  margin-top: 30px;
  backdrop-filter: blur(10px) brightness(0.8);
  transition: 0.2s;
}
.settingsPane {
  /* background: #000; */
  /* background: rgba(0, 0, 0, 0.6); */
  background: #ff9393;
  width: 90vw;
  height: 90vh;
  display: flex;
  position: relative;
  z-index: 10;
  margin: auto;
  margin-top: 5vh;
  border-radius: 15px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  /* overflow-y: scroll; */
}

.settingsPane > div > .simplebar-track.simplebar-vertical {
  margin-right: 0px !important;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
button {
  background-color: white;
  min-width: 30px;
  width: fit-content;
  height: 30px;
  padding: 0px 5px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.1);
}
button:focus {
  outline: none;
}
p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
.checkboxText {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
/* overriding material checkbox... */
.MuiCheckbox-colorSecondary.Mui-checked {
  color: rgba(0, 0, 0, 0.5) !important;
}
.PrivateSwitchBase-root-1,
.jss1 {
  padding: 0px !important;
}
.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-1.MuiCheckbox-root.MuiCheckbox-colorSecondary {
  transform: scale(0.9);
}
.settingTag > div > .MuiCheckbox-colorSecondary {
  color: #fff !important;
}
/** titlebar */
.container-after-titlebar {
  inset: 0px !important;
}
.titlebar {
  backdrop-filter: blur(10px);
}
.divbeforetabletemp {
  max-width: calc(100% - 200px);
  margin-top: -30px;
}
.menubar-menu-container {
  /* backdrop-filter: blur(50px); */
  background: rgba(255, 255, 255, 0.9) !important;
}
.action-menu-item {
  color: #000 !important;
  font-weight: 500;
  font-size: 1.2em;
}
.fullscreenImg {
  max-width: 100vw;
  max-height: calc(100vh - 30px);
  z-index: 9;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 30px;
  pointer-events: none;
}
.fullscreenDiv.visible {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  position: fixed;
  z-index: 8;
  margin-top: 30px;
  cursor: pointer;
  /* position: relative; */
}
/* simplebar because something is not loading???? */
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 41px;
  width: 11px;
  margin-right: 11px;
  margin-bottom: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
