/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@-webkit-keyframes gradient-anim {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
@-moz-keyframes gradient-anim {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
@keyframes gradient-anim {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
* {
  user-select: none;
}
body {
  /* position: relative; */
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  /* backdrop-filter: blur(50px) brightness(0.5); */
  /* backdrop-filter: brightness(0.5); */
  background: linear-gradient(321deg, #c9ae22, #a74268, #511c69);
  /* background-image: url('file:///E:/istir/Drive/Media/reddit/qt/other/__original_drawn_by_sunako_veera__fb8979e47cdaab863ac74dd0755fd470.png'); */
  background-size: 600% 600%;

  -webkit-animation: gradient-anim 23s ease infinite;
  -moz-animation: gradient-anim 23s ease infinite;
  animation: gradient-anim 23s ease infinite;
  font-family: 'Google Sans', sans-serif;
  /* overflow-y: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0px;
  background-attachment: fixed;
}

.fileName {
  font-weight: 500;
  margin-bottom: 10px;
}
.folderName {
  opacity: 0.8;
  font-size: 0.8em;
}
.tagName {
  opacity: 0.9;
  font-weight: 500;
  font-size: 0.8em;
}
/* .tagName .tableDiv {
  display: table;
  max-width: calc(100% - 180px);
} */
.tableCell {
  /* display: block; */
  padding-right: 5px;
}
.selectedRow {
  background: rgba(24, 39, 75, 0.3) !important;
}
tbody {
  box-shadow: 0px 0px 9px 4px #00000063;
  border-radius: 5px;
}
.globalTable {
  border-collapse: separate;
  backdrop-filter: blur(50px);
  max-width: calc(100% - 200px);
  margin: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: rgba(24, 39, 75, 0.12);
  /* background: rgba(24, 39, 75, 0.12); */
  border-spacing: 0px;
  /* box-shadow: 0px 0px 7px #000; */
  padding-bottom: 10px;
}
/* td:nth-of-type(1) {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
}
td:nth-of-type(2) {
  border-color: #000;
  border-width: 1px;
  border-style: solid solid solid none;
  padding: 10px;
  vertical-align: top;
} */

.tableRow {
  /* backdrop-filter: blur(50px); */
  /* background: rgba(24, 39, 75, 0.12); */
}
tr > td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}
tr > td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
}
/* tr:first-child > td:first-child {

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}
tr:first-child > td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
}
tr:last-child > td:first-child {

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}
tr:last-child > td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
} */
.tableCell > * {
  overflow-wrap: anywhere;
}
.tableImg {
  max-height: 200px;
  max-width: 200px;
  /* width: 200px; */
  /* height: 200px; */
  /* object-fit: cover; */
  display: flex;
  margin: auto;
  padding: 5px;
  /* position: absolute; */
}
.tableImgBg {
  float: left;
  height: 200px;
  width: 200px;
  object-fit: cover;
  filter: blur(50px);
}
.listItems {
  top: 10px;
  right: 10px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  display: block;
  background: rgba(24, 39, 75, 0.12);
  box-shadow: 0px 0px 9px 4px #00000063;
}
.listItems > * {
  display: flex;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.1);
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
.checkboxText {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
/* overriding material checkbox... */
.MuiCheckbox-colorSecondary.Mui-checked {
  color: rgba(0, 0, 0, 0.5) !important;
}
.PrivateSwitchBase-root-1,
.jss1 {
  padding: 0px !important;
}
.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-1.MuiCheckbox-root.MuiCheckbox-colorSecondary {
  transform: scale(0.9);
}
